# Конфигурация приложения
PORT=3000
NODE_ENV=development
BASE_URL=http://localhost:3000

# Конфигурация базы данных PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=skillswap

# Конфигурация JWT токенов
JWT_ACCESS_SECRET=your-very-secret-access-key-here
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=your-very-secret-refresh-key-here
JWT_REFRESH_EXPIRATION=7d

# Данные администратора для сидинга
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123

# Конфигурация Яндекс OAuth
YANDEX_CLIENT_ID=17b34cc30eaf40caa8d76be1526451b2
YANDEX_CLIENT_SECRET=daa6ea08cee947b28b9a7cbbbf710f93
YANDEX_CALLBACK_URL=http://localhost:3000/auth/yandex/callback
